@import url("general.css");






.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 57px;
  padding: 0 2rem;

  z-index: 100;
  background-color: #fff;
  border: 1px solid var(--search-bar-border);
}

@media (max-width: 450px) {
  .top-nav{
    padding: 0 .6rem;
  }
}

img {
  width: 100%;
  height: auto;
}

.header-flex {
  display: flex;
}

.header-icons {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.left-items {
  width: 130px;
  justify-content: space-between;
  align-items: center;
}
.right-items {
  width: 182px;
  justify-content: space-between;
  align-items: center;
}
.middle-items {
  width: 470px;
  flex-shrink: 2;
  margin: 0 10px;
}
.youtube-logo {
  width: 90px;
  height: 20px;
}
.channel-profile {
  width: 32px;
  height: 32px;
}


.search-bar {
  display: flex;
  flex: 1;
  padding: 1px 2px 1px 12px;
  border: 1px solid var(--search-bar-border);
}
.search-bar input {
  width: 20px;
  flex: 1;
  height: 40px;
  padding: 1px 2px;
  border: none;
}
.search-icon {
  padding: 4px 15px;
  width: 64px;
  height: 40px;
  border-left: 1px solid var(--search-bar-border);
  background-color: var(--search-icon-bc);
  cursor: pointer;
}
.search-icon img {
  height: 32px;
  width: 32px;
}
.voice-search {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 30px;
  background-color: var(--voice-search);
  cursor: pointer;
}
.voice-search img {
  width: 24px;
  height: 24px;
}

.red-notification {
  position: absolute;
  padding: 1px 5px;
  background-color: rgb(179, 19, 19);
  border-radius: 300px;
  top: -3px;
  right: -4px;
  font-size: 10px;
  color: #fff;
}


.right-items .header-icons,
.search-icon,
.voice-search {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip {
  position: absolute;
  background-color: #606060e6;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  padding: 8px;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;

  transition: opacity 0.15s ease-in-out;
}

.right-items .header-icons:hover .tooltip,
.search-icon:hover .tooltip,
.voice-search:hover .tooltip {
  opacity: 1;
}

.right-items .header-icons .tooltip {
  bottom: -50px;
}

.middle-items .tooltip {
  bottom: -50px;
}
